$main-color: #313131;
$space-large: 20px;

body {
    background: #EDE574; /* fallback for old browsers */
    background: -webkit-linear-gradient(#E1F5C4 , #EDE574); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#E1F5C4 , #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-bar, .top-bar ul {
    background-color: transparent;
}

.page-title {
    color: $main-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}

.button.hollow.primary {
    color: $main-color;
    border: 1px solid $main-color;
}